﻿<h2>Log in</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form ngNativeValidate #loginForm="ngForm">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div *ngIf="errorMessage" class="text-danger">{{errorMessage}}</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="userLogin.email"
                           placeholder="Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="userLogin.password"
                           placeholder="Password" class="form-control" required />
                </div>
                <div class="form-group">
                    <input [disabled]="!loginForm.valid" type="submit" class="btn btn-default"
                           value="Log in" (click)="login()" />
                </div>
                <div class="form-group">
                    <p>
                        <a routerLink="/account/register">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            <div>
                <p>
                    There are no external authentication services configured.
                    See <a href="https://go.microsoft.com/fwlink/?LinkID=532715" target="_blank">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        </section>
    </div>
</div>
