﻿<div class="row">
    <div class="col-lg-12">
        <nvd3 [options]="options" [data]="data"></nvd3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ASP.NET Core</h2>
        <ul>
            <li>
                <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api" target="_blank">
                    Getting Started with ASP.NET Core
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Angular</h2>
        <ul>
            <li>
                <a href="https://angular.io/guide/quickstart" target="_blank">
                    Getting Started with Angular
                </a>
            </li>
        </ul>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <p class="well"><strong>Register and login to view and play with the sample TODO app!</strong></p>
    </div>
</div>
